# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/
ml-env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.lnk

# Large datasets / archives
*.tar.gz

